.Rproj.user
.Rhistory
.RData
.Ruserdata
content/authors/.DS_Store
docs/post/.DS_Store
resources/.DS_Store
resources/_gen/.DS_Store
themes/hugo-theme-novela/.Rapp.history
.DS_Store
docs/.DS_Store
docs/.DS_Store
docs/images/.DS_Store
